.gsaml-settings table {
  border-collapse: separate;
}

.gsaml-settings tr:last-child td {
  border-bottom: solid #afafaf 1px;
}

.gsaml-settings thead th {
  text-transform: none;
  color: #444444;
  border: solid #cccccc;
  border-width: 1px;
  background: #f5f5f5;
  font-size: 12px;
  line-height: 14px;
  position: sticky;
  top: 79px;
}

.gsaml-settings td {
  padding: 10px 12px;
  text-align: left;
  border: solid #afafaf 1px;
  border-width: 1px 1px 0px 0px;
}

.gsaml-settings td:first-child {
  position: sticky;
  left: 0;
  border-width: 1px 1px 0px 1px;
  background: white;
}

.gsaml-settings textarea.form-textarea {
  font-size: 10px;
  width: 250px;
}
